.about {
	width: 100%;
	margin: 3rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
}

.about .left {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 350px;
}

.about .left h1 {
    font-size: 2rem;
    margin: 1.2rem 0;
}

.about .left p {
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.right .img {
    display: block;
	max-width: 60%;
    margin: 0 auto;
}


@media (min-width: 768px) {
	.about {
		width: 100%;
		margin: 3rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		height: 100%;
	}

	.about .left {
		font-size: 2rem;
		text-align: center;
		margin: auto;
		padding: 1rem;
		max-width: 350px;
	}

	.about .left p {
		font-size: 1.2rem;
		margin: 1.2rem 0;
	}

	.about .right {
		max-width: 700px;
	}

	.right .image-container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		position: relative;
		align-items: center;
		text-align: center;
	}

	.right .img {
		max-width: 90%;
		border: 1px solid #333;
	}
}
